<form name="n2goi-form">
<div>
    <span>
        <label>Unit</label>
        <my-dropdown ctrlproptype="alphanum" ng-model="unit" kbnvalue="listUnit" style='width:300px'  ng-change="changeUnit()"></my-dropdown>
    </span>
    <span>
	    <label>Mean</label>
	    <my-textbox ctrlproptype="alphanum" ng-model="curWord.mean" class="abc" disabled style='width:300px' ></my-textbox>
    </span>
    <span ng-show="wrongCount > wrongCount_GOI">
        <label>GOI</label>
        <my-textbox ctrlproptype="japan" ng-model="curWord.word" class="abc" disabled style='width:300px'></my-textbox>
    </span>
    <span ng-show="wrongCount > wrongCount_Kana1">
        <label>かな1</label>
        <my-textbox ctrlproptype="japan" ng-model="curWord.kana1" class="abc" disabled style='width:300px'></my-textbox>
    </span>
    <span ng-show="wrongCount > wrongCount_Kana2">
        <label>かな2</label>
        <my-textbox ctrlproptype="japan" ng-model="curWord.kana2" class="abc" disabled style='width:300px'></my-textbox>
    </span>
    <span>
        <label>Anws</label>
        <my-textbox id="ans" ctrlproptype="japan" ng-model="ans" class="abc" style='width:300px' ng-keydown="ansKeydown($event)"></my-textbox>
    </span>
</div>
</form>
