<form name="try-form" class="animated fadeIn">
<div class="row justify-content-center">
<div class="col-md-12">
    <div class="input-group  mb-2 ">

        <my-dropdown name="unit" ng-model="data.unit" default-item-idx="0" items="data.listUnit" ng-change="changeUnit()"></my-dropdown>
        <span class="input-group-append">
            <button class="btn btn-danger" type="button" ng-click="reset()">Reset</button>
        </span>
    </div>

    <div class="input-group">
            <div class="font-weight-bold " ng-class="{'hidden': data.learnType == 'newwords'}">【Idx: {{data.curIdx + 1}}】</div>

            <input class="form-check-input hidden" id="inline-hardwords" ng-model="data.learnType"  type="radio" value="hardwords" name="inline-radios" ng-change="changeLearnType()">
            <label class="form-check-label text-warning ml-auto" ng-class="{'font-weight-bold border-bottom border-warning': data.learnType == 'hardwords'}"  for="inline-hardwords">★ ({{data.curUnit.listHardWords.length}})</label>

            <input class="form-check-input hidden" id="inline-rememberd" ng-model="data.learnType"  type="radio" value="rememberd" name="inline-radios" ng-change="changeLearnType()">
            <label class="form-check-label text-success ml-2" ng-class="{'font-weight-bold border-bottom border-success': data.learnType == 'rememberd'}"  for="inline-rememberd">OK ({{data.curUnit.listRemember.length}})</label>

            <input class="form-check-input hidden" id="inline-wrong" ng-model="data.learnType"  type="radio" value="wrong" name="inline-radios" ng-change="changeLearnType()">
            <label class="form-check-label text-danger ml-2" ng-class="{'font-weight-bold border-bottom border-danger': data.learnType == 'wrong'}" for="inline-wrong">NG ({{data.curUnit.listNotRemember.length}})</label>

            <input class="form-check-input hidden" id="inline-newwords" ng-model="data.learnType"  type="radio" value="newwords" name="inline-radios" ng-change="changeLearnType()">
            <label class="form-check-label text-primary ml-2" ng-class="{'font-weight-bold border-bottom border-primary': data.learnType == 'newwords'}" for="inline-newwords">New ({{data.curUnit.listNewWords.length}})</label>

            <input class="form-check-input hidden" id="inline-all" ng-model="data.learnType" type="radio" value="all" name="inline-radios" ng-change="changeLearnType()">
            <label class="form-check-label ml-2" ng-class="{'font-weight-bold border-bottom border-dark': data.learnType == 'all'}" for="inline-all">All ({{data.curUnit.listCurrentWords.length}})</label>

        </div>
<div class="row">
    <div class="col-4">
        <!-- accordion -->
       <div class="btn-group btn-group-sm mb-4" role="group" aria-label="Basic example">
           <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
           Doc
           </button>

           <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Card
           </button>

           <button class="btn btn-outline-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           All
           </button>
       </div><!-- END accordion -->
    </div>

    <div class="col-8">
        <div class="progress-group mb-2">
            <div class="input-group ">
                <div class="progress-group-bars">
                  <div class="progress bg-primary">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{(data.curUnit.listRemember.length) * 100 / data.curUnit.listCurrentWords.length}}%" aria-valuenow="{{data.curUnit.listRemember.length}}" aria-valuemin="0" aria-valuemax="{{data.curUnit.listCurrentWords.length}}"></div>
                      <div class="progress-bar bg-danger" role="progressbar" style="width: {{(data.curUnit.listNotRemember.length ) * 100 / data.curUnit.listCurrentWords.length}}%" aria-valuenow="{{data.curUnit.listNotRemember.length}}" aria-valuemin="0" aria-valuemax="{{data.curUnit.listCurrentWords.length}}"></div>
                  </div>
                </div>
                <button class="btn btn-link ml-2" type="button" ng-click="reZero()"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Re:Zero</button>
            </div>

        </div>
    </div>
</div>


<div class="accordion" id="accordion">
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

        <div class=" lead">
          <div>
            <fieldset style='position:sticky;position: -webkit-sticky;top:0px;'>
              <p class="float-right">
                <label>Show Furigana:</label>
                <label class="switch switch-pill switch-success">
                  <input ng-model="isShowRuby" type="checkbox" class="switch-input" checked>
                  <span class="switch-slider"></span>
                </label>
              </p>
              <div class="clearfix"> </div>
            </fieldset>

            <div class="span-nonewline line-h2" ng-if="!isShowRuby" dynamic-html="data.doc.content"></div>
            <div class="span-nonewline line-h2" ng-if="isShowRuby" dynamic-html="data.doc.contentRuby"></div>
          </div>
            <div class="accordion" id="accordion2">
                <div ng-repeat="item in data.doc.bunpo" >
                  <div class="card "  >
                    <div class="card-header" id="heading{{$index}}">
                   <span class=""> {{item.no+'.'}}</span>
                          <div class="text-left multi-lines justify-content-center" dynamic-html="item.jp"></div>
                        <button class="btn btn-link link-no-uderline float-right" type="button" data-toggle="collapse" data-target="#collapseBP{{$index}}" aria-expanded="true" aria-controls="collapseBP{{$index}}">
                        more
                        </button>
                    </div>

                    <div id="collapseBP{{$index}}" class="collapse " aria-labelledby="heading{{$index}}" data-parent="#accordion2">
                      <div class="card-body p-0 ">
                         <ul class="list-group list-group-flush">
                            <li class="list-group-item"><div class="callout callout-info" dynamic-html="item.vn"></div></li>
                            <li class="list-group-item">
                                <span>VD:</span>
                                <div dynamic-html="item.vd"></div></li>
                            <li class="list-group-item">
                                <span>やってみよう！</span>
                                <div dynamic-html="item.quest"></div></li>
                            <li class="list-group-item "><div class="hidden3" dynamic-html="item.ans"></div></li>
                         </ul>
                      </div>
                    </div>

                  </div>
                </div>
                <div ng-if="data.doc.bunpo == null">
                    <div ng-repeat="item in data.curUnit.listCurrentWords" >
                      <div class="card "  >
                        <div class="card-header" id="heading{{$index}}">
                            <span class=""> {{item.subno+'.'}}</span>
                            <div class="text-left multi-lines justify-content-center" dynamic-html="item.word"></div>
                            <button class="btn btn-link link-no-uderline float-right" type="button" data-toggle="collapse" data-target="#collapseBP{{$index}}" aria-expanded="true" aria-controls="collapseBP{{$index}}">
                             more
                            </button>
                        </div>

                        <div id="collapseBP{{$index}}" class="collapse " aria-labelledby="heading{{$index}}" data-parent="#accordion2">
                          <div class="card-body p-0 ">
                             <ul class="list-group list-group-flush">
                                <li class="list-group-item"><div class="callout callout-info" dynamic-html="item.mean"></div></li>
                                <li class="list-group-item">
                                    <span>VD:</span>
                                     <span class='vd multi-lines' ng-repeat='itemExp in item.example'>
                                       <span class='furigana'>{{itemExp.jp}}</span>
                                       {{itemExp.vn}}
                                    </span>
                                </li>

                             </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                </div>
            </div><!-- accordion2 -->

        </div>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

        <div class="card ">
            <div class="card-header" >
                <div class="form-check  form-check-inline">
                    <input class="form-check-input hidden" id="card-mean" ng-model="data.cardType"  type="radio" value="mean" name="card-type" >
                    <label class="form-check-label " ng-class="{'font-weight-bold border-bottom border-danger': data.cardType == 'mean'}" for="card-mean">Mean</label>
                    <input class="form-check-input hidden" id="card-word" ng-model="data.cardType"  type="radio" value="word" name="card-type" >
                    <label class="form-check-label ml-2" ng-class="{'font-weight-bold border-bottom border-danger': data.cardType == 'word'}" for="card-word">Word</label>
                </div>

            </div>
            <div class="card-body p-2" >
            <div class="fcard " style="height:400px">
                <label class="fcard-inner" >
                 <input ng-model="fcardChecked" type="checkbox"  class="fcard-input"  />
                 <div class="fcard-card">
                     <div class="fcard-front" ng-if="!fcardChecked">
                          <div data-fittext style="text-align: left;height: 100%;" class="card justify-content-center p-2" >

                                <span class="multi-lines " ng-if="data.cardType == 'mean'">{{data.curWord.mean}}</span>
                                <span class="multi-lines " ng-if="data.cardType == 'word'">{{data.curWord.word}}</span>

                          </div>
                     </div>
                     <div class="fcard-back" ng-if="fcardChecked">
                        <div data-fittext style='text-align: left;height: 100%;' class="card justify-content-center p-2" >

                            <dl >
                            <dt class="col-sm-2 text-gray-500">語彙</dt>
                            <dd class="col-sm-10"><h5 class="multi-lines">{{data.curWord.word}}</h5></dd>

                            <dt class="col-sm-2 text-gray-500">Nghĩa</dt>
                            <dd class="col-sm-10 text-danger multi-lines">{{data.curWord.mean}}</dd>

                            <dt class="col-sm-2 text-gray-500">VD</dt>
                            <dd class="col-sm-10 ">
                                <span class='vd ' ng-repeat='itemExp in data.curWord.example'>
                                    <span class=" multi-lines">{{itemExp.jp}}</span>
                                    <span class=" multi-lines">{{itemExp.vn}}</span>
                                </span>
                            </dd>
                            </dl>

                        </div>
                     </div>
                 </div>
             </label>
             </div>
            </div>

            <div class="card-footer">

                <div class="row justify-content-center">
                    <div class="btn-group btn-group-lg" role="group" aria-label="First group">
                        <button type="button" class="btn btn-success w150" ng-disabled="!fcardChecked || !data.curWord.mean" ng-click="itemCardClick('ok')">OK</button>
                        <button type="button" class="btn btn-danger w150" ng-disabled="!fcardChecked || !data.curWord.mean" ng-click="itemCardClick('ng')">NG</button>
                    </div>
              </div>
            </div>
        </div>
    </div>

    <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordion">

        <table class="table table-sm table-hover table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="wp5" >No</th>
                <th scope="col" class="wp40">Nghĩa</th>
                <th scope="col" class="wp30">語彙</th>
            <th scope="col" class="wp25">VD</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in data.curList" >
                <th class="wp5" scope="row">{{$index+1}}</th>
                <td class="wp40 multi-lines">{{item.word}}</td>
                <td class="wp30 text-danger multi-lines">{{item.mean}}</td>
                <td class="wp25 ">
                    <span class='vd multi-lines' ng-repeat='itemExp in item.example'>
                       <span class='furigana'>{{itemExp.jp}}</span>
                       {{itemExp.vn}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</div>

</div>
</form>
