br {
	content: " ";
	display: block;
	margin: 5px 0;
}

body {
	background-color: #E0E0E0;
	font-size: 18px;
	margin: 0px 1%;
}

.hiddenfurigana {
	display: none;
}

.btn-furigana {
	background-color: #31b0d5a8;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	border-color: #46b8da;
}


#mybutton {
	position: fixed;
	top: -4px;
	right: 8px;
	font-size: larger;
	text-align: center;
	height: 150px;
}

#mybutton .satus{
	display: block;
	margin-top: 20px;
}

#mybutton .satus table{
	width: 100%;
}

#mybutton .satus td span{
	margin: 0px
}
#mybutton .satus span.star{
	color: #000;
}

#mybutton .satus span.checked{
	color: orange;
}
.setting{
	padding-right: 0px;
	padding-left: 0px;
}

#mybutton .arrow{
	position: absolute;
    right: 50%;
    bottom: 10px;
}

#mybutton .arrow::before {
	font-family: FontAwesome;
	content: "\f106";
	vertical-align: middle;
	font-weight: 900;
	position: absolute;
	margin-top: -15px;
	color: #fff;
}

#mybutton .arrow::after {
	font-family: FontAwesome;
	content: "\f107";
	vertical-align: middle;
	font-weight: 900;
	position: absolute;
	color: #31b0d5a8;
}

#mybutton span {
	margin-left: 5px;
}
div {
	display: inline-block;
}
rt {
	color: #f44336;
}

#content {
	padding: 90% 0px;
	font-size: large;
}

.boxtv {
	padding: 0.5em 0.5em;
	margin: 0.5em 0;
	background: #FFFFFF;
	border-left: solid 2px #5bb7ae;
	box-shadow: 0.5px 0px 0.5px 0.5px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.tuvung {
	display: block;
	font-size: x-large;
	margin-top: 60px
}

.tuvung b {
	font-size: -webkit-xxx-large;
}

.fontnho {
	font-size: medium;
	color: #f44336;
}

.hanviet {
	text-transform: uppercase;
	margin-left: 37px;
	display: none;
	color: #f44336;
}

.nghia {
	margin-left: 37px;
	display: none;
	color: #f44336;
}

.hanviet1 {
	text-transform: uppercase;
	margin-left: 17px;
	display: none;
	color: #f44336;
}

.nghia1 {
	margin-left: 17px;
	display: none;
	color: #f44336;
}

.hanviet2 {
	text-transform: uppercase;
	margin-left: 27px;
	display: none;
	color: #f44336;
}

.nghia2 {
	margin-left: 27px;
	display: none;
	color: #f44336;
}

.hanviet3 {
	text-transform: uppercase;
	margin-left: 40px;
	display: none;
	color: #f44336;
}

.nghia3 {
	margin-left: 40px;
	display: none;
	color: #f44336;
}

.nghiavidu {
	margin-left: 20px;
	color: #f44336;
	display: none;
}

.vidubox {
	display: none;
}

.vidubox .tuvung {
	color: black;
	margin-top: 20px;
	padding-top: 25px;
	border-top: #E0E0E0 1px solid;
}

.lienquan {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #5c90d2;
}

.score {
	float: right;
	cursor: pointer;
	font-size: x-large;
}

.score .checked {
	color: orange;
}s

.viduseq {
	display: inline;
}

.linklienquan {
	color: #0053f9;
}

.draggable {
	cursor: move;
}

.resizable {
	border: 1px dashed #000000;
	position: relative;
	min-height: 50px;
}

.ui-resizable-handle {
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border: 1px solid #000000;
	position: absolute;
}

.ui-resizable-nw {
	left: -5px;
	top: -5px;
	cursor: nw-resize;
}

.ui-resizable-ne {
	top: -5px;
	right: -5px;
	cursor: ne-resize;
}

.ui-resizable-sw {
	bottom: -5px;
	left: -5px;
	cursor: sw-resize;
}

.ui-resizable-se {
	bottom: -5px;
	right: -5px;
	cursor: se-resize;
}

.ui-resizable-n {
	top: -5px;
	left: 50%;
	cursor: n-resize;
}

.ui-resizable-s {
	bottom: -5px;
	left: 50%;
	cursor: s-resize;
}

.ui-resizable-w {
	left: -5px;
	top: calc(50% - 5px);
	cursor: w-resize;
}

.ui-resizable-e {
	right: -5px;
	top: calc(50% - 5px);
	cursor: e-resize;
}

.glass {
	background-color: #f44336;
	height: 50%;
	width: 98%;
	position: fixed;
	mix-blend-mode: darken;
	bottom: 0px;
	resize: vertical;
}

.top-line {
	top: -5px;
	left: 0px;
	width: 100%;
	height: 5px;
	/* 5px for the mouse cursor update size */
	background-color: #a50000;
	cursor: n-resize;
}

.top-line:hover {
	opacity: 1;
}