
br {
    content: " ";
    display: block;
    margin: 5px 0;
}
body{
	background-color: #E0E0E0;
	font-size: 18px;
	margin: 0px 1%;
}
.hiddenfurigana{
	display: none;
}
.btn-furigana {
  background-color : #31b0d5a8;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

input[type=checkbox]
{
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  padding: 10px;
}
select
{
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  padding: 10px;
}

#mybutton {
	position: fixed;
	top: -4px;
	right: 8px;
	font-size: xx-large;
}
#mybutton span{
margin-left: 15px;
}

rt{
	color: red;
}

#content{
	font-size: x-large;
}

.boxtv {
	padding: 0.5em 0.5em;
	margin: 0.5em 0;
	background: #FFFFFF;
	border-left: solid 2px #5bb7ae;
	box-shadow: 0.5px 0px 0.5px 0.5px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.tuvung {
	display: block;
	font-size: -webkit-xxx-large;
}

.fontnho{
	font-size: x-large;
	color: gray;
}

.hanviet {
	text-transform: uppercase;
	margin-left: 37px;
	display: none;
	color: red;
}

.nghia {
	margin-left: 37px;
	display: none;
	color: red;
}

.hanviet1 {
	text-transform: uppercase;
	margin-left: 17px;
	display: none;
	color: red;
}

.nghia1 {
	margin-left: 17px;
	display: none;
	color: red;
}

.hanviet2 {
	text-transform: uppercase;
	margin-left: 27px;
	display: none;
	color: red;
}

.nghia2 {
	margin-left: 27px;
	display: none;
	color: red;
}

.hanviet3 {
	text-transform: uppercase;
	margin-left: 40px;
	display: none;
	color: red;
}

.nghia3 {
	margin-left: 40px;
	display: none;
	color: red;
}

.nghiavidu {
	margin-left: 20px;
	color: red;
	display: none;
}

.vidubox {
	display: none;
}

.vidubox .tuvung {
 	color: black;
 	margin-top: 20px;
    padding-top: 25px;
    border-top: #E0E0E0 1px solid;
}

.lienquan {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #5c90d2;
}

.hienbtn,
.anbtn,
.nghescriptbtn {
	vertical-align: top;
}

.viduseq {
	display: inline;
}

.linklienquan {
	color: #0053f9;
}

.glass{
	background-color: #ff0000;
    height: 30%;
    width: 98%;
    position: fixed;
    mix-blend-mode: darken;
    bottom: 0px;
    border-top: 3px solid #a50000;
    resize: vertical;
}

.crop {
}

.crop .crop-line {
  position: absolute;
  transition: all 0.25s;
}
.crop:hover .crop-line {
  border-color: #a50000;
}
.crop .crop-top-line {
  top: 0;
  left: 0;
  right: 0;
  height: 5px; /* 5px for the mouse cursor update size */
  border-top: 1px solid #a50000; /* 1px for the "border" size */
  cursor: n-resize;
}
.crop .crop-bottom-line {
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px; /* 5px for the mouse cursor update size */
  border-bottom: 1px solid #a50000; /* 1px for the "border" size */
  cursor: s-resize;
}
.crop .crop-left-line {
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px; /* 5px for the mouse cursor update size */
  border-left: 1px solid #a50000; /* 1px for the "border" size */
  cursor: w-resize;
}
.crop .crop-right-line {
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px; /* 5px for the mouse cursor update size */
  border-right: 1px solid #a50000; /* 1px for the "border" size */
  cursor: e-resize;
}
.crop .crop-corner {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  border: 1px solid #808080;
  background: #FFF;
  opacity: 0;
  transition: all 0.25s;
}
.crop .crop-top-left-corner {
  top: -3px;
  left: -3px;
  cursor: nw-resize;
}
.crop .crop-top-right-corner {
  top: -3px;
  right: -3px;
  cursor: ne-resize;
}
.crop .crop-bottom-left-corner {
  bottom: -3px;
  left: -3px;
  cursor: sw-resize;
}
.crop .crop-bottom-right-corner {
  bottom: -3px;
  right: -3px;
  cursor: se-resize;
}
.crop:hover .crop-corner {
  opacity: 1;
}