<div id="mybutton" class="btn-furigana  drag-and-resize">
<div class="setting">
    <span>
        <label for="lesson"></label>
        <select id="unit"></select>
    </span>
    <span>
        <select id="lesson"></select>
    </span>

    <span>
        <label for="checkffurigana">Rubi</label>
        <input id="checkffurigana" type="checkbox" name="checkffurigana"  checked>
    </span>

    <span>
        <label for="hanviet">Nghĩa</label>
        <input id="hanviet" type="checkbox" name="hanviet"  >
    </span>

    <span>
        <label for="vidubox">Ví dụ</label>
        <input id="vidubox" type="checkbox" name="vidubox"  >
    </span>
</div>

<div id="audioplayer">
    <audio id="player" preload="auto" loop="true" />
</div>

<div class="satus">
    <table>
        <tr>
            <td><span class="fa fa-ban banstar checked" diem="0"></span></td>
            <td><span class="mainstar fa fa-star star diem0" diem="0"></span></td>
            <td><span class="mainstar fa fa-star star diem1" diem="1"></span></td>
            <td><span class="mainstar fa fa-star star diem2"  diem="2"></span></td>
            <td><span class="mainstar fa fa-star star diem3"  diem="3"></span></td>
            <td><span class="mainstar fa fa-star star diem4"  diem="4"></span></td>
            <td><span class="mainstar fa fa-star star diem5"  diem="5"></span></td>
        </tr>
        <tr>
            <td><span class="" diem="99">All</span></td>
            <td><span class="mainstar diem diem0" diem="0"></span></td>
            <td><span class="mainstar diem diem1" diem="1"></span></td>
            <td><span class="mainstar diem diem2" diem="2"></span></td>
            <td><span class="mainstar diem diem3" diem="3"></span></td>
            <td><span class="mainstar diem diem4" diem="4"></span></td>
            <td><span class="mainstar diem diem5" diem="5"></span></td>
        </tr>
    </table>
</div>


<!--
    <input id="reset" type="button" value="Reset">
-->
    <div class="arrow"></div>
</div>

<div id="glass" class="glass crop resizable draggable ">

    <div class="ui-resizable-handle ui-resizable-nw"></div>
    <div class="ui-resizable-handle ui-resizable-ne"></div>
    <div class="ui-resizable-handle ui-resizable-sw"></div>
    <div class="ui-resizable-handle ui-resizable-se"></div>
    <div class="ui-resizable-handle ui-resizable-n top-line"></div>
    <div class="ui-resizable-handle ui-resizable-s"></div>
    <div class="ui-resizable-handle ui-resizable-e"></div>
    <div class="ui-resizable-handle ui-resizable-w"></div>


</div>


<div id="content">
</div>
