<form name="try-form" class="animated fadeIn">
<div class="row justify-content-center">
<div class="col-md-12">

  <div class=" pt-4 pl-4 pr-4" style='position: fixed; bottom: 0px; z-index: 99999; right: 0px; display: -webkit-inline-box; background-color:#eeeeee7a'>

    <ul uib-pagination total-items="paging.totalItems" ng-model="paging.currentPage" max-size="paging.maxSize" items-per-page="paging.itemsPerPage" ng-change="setPagingData()"
        class="pagination-sm" first-text="&laquo;" previous-text="&lsaquo;" next-text="&rsaquo;" last-text="&raquo;"
        boundary-links="true" boundary-link-numbers="true" rotate="true"></ul>

    <fieldset class='' >
      <p >
        <label>Show Furigana:</label>
        <label class="switch switch-pill switch-success">
          <input ng-model="isShowRuby" type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
      </p>
      <div class="clearfix"> </div>
    </fieldset>
  </div>


  <div ng-repeat="article in data.articlesOnPage track by $index" class=" card">
    <div class="card-header header-sticky" id="heading{{$index}}">
      <span class ="btn btn-link float-right" ng-click="showContent(article.no)">{{article.isShow?"Hide":"Show"}}</span>
      <span>{{article.title}}</span>
    </div>
    <div class="card-body" id="heading{{$index}}">
      <div ng-if="article.isShow">
          <div class="span-nonewline line-h2" ng-if="!isShowRuby" dynamic-html="article.content"></div>
          <div class="span-nonewline line-h2" ng-if="isShowRuby" dynamic-html="article.contentRuby"></div>
      </div>
    </div>

  </div>


</div>

</div>
</form>
