<form>
<div class="modal-header">
  <h4 align="center">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" ng-if="cancelIsHide" ng-hide="okIsHide" ng-click="ok()"> <span aria-hidden="true">&times;</span></button>
  <button type="button" class="close" aria-label="Close" ng-hide="cancelIsHide" ng-click="cancel()"> <span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body" id="modal-body" align="left" dynamic-html="message"></div>

<div class="modal-footer" id="modal-footer" align="right">
    <!-- okDialogボタン -->
    <button class="btn btn-primary pl-4 pr-4 " type="button" ng-click="ok()" ng-if="cancelIsHide" ng-hide="okIsHide" autofocus>{{okView}}</button>
    <!-- confirmDialogボタン -->
    <button class="btn btn-primary pl-4 pr-4 " type="button" ng-click="ok()" ng-if="!cancelIsHide">{{okView}}</button>
    <button class="btn btn-warning pl-4 pr-4" type="button" ng-click="cancel()" ng-hide="cancelIsHide" autofocus>{{cancelView}}</button>
</div>
</form>
