<div layout="row" layout-align="center center">
  <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon md-svg-src="img/svg/menu.svg"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="img/svg/twitter.svg" aria-label="Twitter"></md-icon>
      </md-button>
      <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="img/svg/facebook.svg" aria-label="Facebook"></md-icon>
      </md-button>
      <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="img/svg/hangout.svg" aria-label="Google Hangout"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>