<article class="markdown-body">
 <p markdown-to-html="mymarkdown"></p>
 <div sd-model-to-html="markdownText" ></div>
<!--
<div btf-markdown ng-include="'README.md'"></div>
 -->

</article>

<div ng-controller="BottomSheetExample" class="md-padding bottomSheetdemoBasicUsage" >
  <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
    <md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet()">Show as List</md-button>
    <md-button flex="50" class="md-primary md-raised" ng-click="showGridBottomSheet()">Show as Grid</md-button>
  </div>

  <div ng-if="alert">
    <br>
    <b layout="row" layout-align="center center" class="md-padding">
      {{alert}}
    </b>
  </div>
<script type="text/ng-template" id="bottom-sheet-grid-template.html"><md-bottom-sheet class="md-grid" layout="column">
  <div layout="row" layout-align="center center" ng-cloak>
    <h4>Since <code>clickOutsideToClose = false</code>, drag down or press ESC to close</h4>
  </div>
  <div ng-cloak>
    <md-list flex layout="row" layout-align="center center">
      <md-list-item ng-repeat="item in items track by $index">
        <div>
          <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
            <md-icon md-svg-src="{{item.icon}}"></md-icon>
            <div class="md-grid-text"> {{ item.name }} </div>
          </md-button>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-bottom-sheet>
</script>
<script type="text/ng-template" id="bottom-sheet-list-template.html"><md-bottom-sheet class="md-list md-has-header">
  <md-subheader ng-cloak>Comment Actions</md-subheader>
  <md-list ng-cloak>
    <md-list-item ng-repeat="item in items track by $index">

      <md-button
          ng-click="listItemClick($index)"
          md-autofocus="$index == 2"
          class="md-list-item-content">
        <md-icon md-svg-src="{{item.icon}}"></md-icon>
        <span class="md-inline-list-icon-label">{{ item.name }}</span>
      </md-button>

    </md-list-item>
  </md-list>
</md-bottom-sheet>
</script>
</div>



popup

<button class="btn btn-success btn-interval" ng-click="showPopup()">show popup</button>
<div >

    <span><label>helloWorldProvider: {{provider}}</label></span>
    <span><label>helloWorldFactory: {{factory}}</label></span>
    <span><label>helloWorldService: {{service}}</label></span>
    <span>
        <label>{{test}}</label>
        <input type="a" ng-model="test" name="a">
    </span>
    <my-input></my-input>
    <span><label>constant: {{constant}}</label></span>



    <form name="n2goi-form">
<div>
    <span>
        <label>alphanum</label>
        <my-textbox ctrlproptype="alphanum" ng-model="value1" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>alphanumsign</label>
        <my-textbox ctrlproptype="alphanumsign" ng-model="value2" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>date</label>
        <my-textbox ctrlproptype="date" ng-model="value3" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>tel</label>
        <my-textbox ctrlproptype="tel" ng-model="value4" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>kana</label>
        <my-textbox ctrlproptype="kana" ng-model="value5" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>japan</label>
        <my-textbox ctrlproptype="japan" ng-model="value8" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>all</label>
        <my-textbox ctrlproptype="all" ng-model="value9" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num</label>
        <my-textbox ctrlproptype="num" ng-model="value10" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num.dot</label>
        <my-textbox ctrlproptype="num.dot" ng-model="value11" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num.comma</label>
        <my-textbox ctrlproptype="num.comma" is-display-comma ng-model="value12" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num.dot.comma</label>
        <my-textbox ctrlproptype="num.dot.comma" is-display-comma ng-model="value13" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num.minus</label>
        <my-textbox ctrlproptype="num.minus" ng-model="value14" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
</div>
</form>

</div>




