
Swipe1
<div>
<div class="panel panel-default swipe" swipe-left="onSwipeLeft" swipe-right="onSwipeRight">
  <div class="panel-body">
    Swipe left or right this beautiful panel!
  </div>
</div>
<p>
  {{swipeAction}}
</p>
</div>
Swipe2
<div class="panel panel-default swipe" swipe-left="delayedClose" left-template="partial/leftTemplate.html" right-template="partial/rightTemplate.html">
        <div class="panel-body">
          Again with some template customization!
        </div>
</div>

popup

<button class="btn btn-success btn-interval" ng-click="showPopup()">show popup</button>
<div >

    <span><label>helloWorldProvider: {{provider}}</label></span>
    <span><label>helloWorldFactory: {{factory}}</label></span>
    <span><label>helloWorldService: {{service}}</label></span>
    <span>
        <label>{{test}}</label>
        <input type="a" ng-model="test" name="a">
    </span>
    <my-input></my-input>
    <span><label>constant: {{constant}}</label></span>



    <form name="n2goi-form">
<div>
    <span>
        <label>alphanum</label>
        <my-textbox ctrlproptype="alphanum" ng-model="value1" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>alphanumsign</label>
        <my-textbox ctrlproptype="alphanumsign" ng-model="value2" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>date</label>
        <my-textbox ctrlproptype="date" ng-model="value3" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>tel</label>
        <my-textbox ctrlproptype="tel" ng-model="value4" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>kana</label>
        <my-textbox ctrlproptype="kana" ng-model="value5" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>japan</label>
        <my-textbox ctrlproptype="japan" ng-model="value8" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>all</label>
        <my-textbox ctrlproptype="all" ng-model="value9" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num</label>
        <my-textbox ctrlproptype="num" ng-model="value10" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num.dot</label>
        <my-textbox ctrlproptype="num.dot" ng-model="value11" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num.comma</label>
        <my-textbox ctrlproptype="num.comma" is-display-comma ng-model="value12" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num.dot.comma</label>
        <my-textbox ctrlproptype="num.dot.comma" is-display-comma ng-model="value13" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
    <span>
        <label>num.minus</label>
        <my-textbox ctrlproptype="num.minus" ng-model="value14" class="abc" style='width:300px' defvalue="this is defvalue" ng-blur="ansBlur()"></my-textbox>
    </span>
</div>
</form>

</div>
