<form name="search-form">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text w70">検索</span>
    </div>
    <my-textbox ctrlproptype="japan" ng-model="searchStr" ng-keydown='enterSearch($event)' placeholder="さあ、今日も頑張ろう！"></my-textbox>
    <span class="input-group-append">
      <button class="btn btn-primary" ng-click="search()" type="button"><i class="fa fa-search"></i></button>
    </span>
  </div>

<div class="mb10">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
    <label class="nav-link active show mb-0" data-toggle="tab" role="tab" href="#goi" aria-controls="goi" aria-selected="true">GOI({{returnGOI.length}})</label>
    </li>
    <li class="nav-item">
    <label class="nav-link mb-0" data-toggle="tab" role="tab" href="#kanji" aria-controls="kanji" aria-selected="false">KANJI({{returnKANJI.length}})</label>
    </li>
    <li class="nav-item">
    <label class="nav-link mb-0" data-toggle="tab" role="tab" href="#vd" aria-controls="vd" aria-selected="false">VD({{returnVD.length}})</label>
    </li>
    <li class="nav-item">
    <label class="nav-link mb-0" data-toggle="tab" role="tab" href="#bunpo" aria-controls="bunpo" aria-selected="false">BUNPO({{returnBUNPO.length}})</label>
    </li>
    <li class="nav-item">
    <label class="nav-link mb-0" data-toggle="tab" role="tab" href="#history" aria-controls="history" aria-selected="false">RIREKI</label>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active show" id="goi" role="tabpanel">
      <div ng-repeat="item in returnGOI" class="card">
        <div class="card-body">
          <p class="text-wrap">
            <h4 class="text-danger">{{item.word}}</h4>
            <h5>{{item.mean}}</h5>
            <span>{{item.kana1}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="kanji" role="tabpanel">
      <div ng-repeat="item in returnKANJI" class="card">
        <div class="card-body">
          <p class="text-wrap">
            <h4 class="text-danger">{{item.mean}}</h4>
            <h5>{{item.kana2}}</h5>
            <span>{{item.word}}</span>
            <span>{{item.kana1}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="vd" role="tabpanel">
      <div ng-repeat="item in returnVD" class="card">
        <div class="card-body">
          <p class="text-wrap">
            <h4 class="text-danger multi-lines">{{item.mean}}</h4>
            <h5 class="multi-lines">{{item.word}}</h5>
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="bunpo" role="tabpanel">
      <div ng-repeat="item in returnBUNPO" class="card">
        <div class="card-body">
          <p class="text-wrap">
            <h4 class="text-danger">{{item.word}}</h4>
            <table class="w-100">
              <tbody>
              <tr>
                <td class="text-muted w40">Mean:</td>
                <td class="font-sm"><strong>{{item.mean}}</strong></td>
              </tr>
              <tr>
                <td class="text-muted w40">JLPT:</td>
                <td class="font-sm"><span class="tag tag-jlpt-{{item.jlpt}}">{{item.jlpt}}</span></td>
              </tr>
              <tr>
                <td class="text-muted w40">TAG:</td>
                <td class="font-sm"><span class="tag tag-bunpo">{{item.tag}}</span></td>
              </tr>
            </tbody></table>

          </p>
          <a class="float-right" target="_blank"  href="{{item.link}}">detail</a>
        </div>
      </div>

    </div>

    <div class="tab-pane" id="history" role="tabpanel">
       <button class="btn btn-danger float-right" ng-click="clearHistory()" type="button"><i class="fa fa-trash"></i></button>
       <div class="clearfix"> </div>
       <div class="list-group mt-3">
        <a ng-repeat="item in listHistory track by $index" ng-click="search(item.word)" class="list-group-item list-group-item-action flex-column align-items-start" href="">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.word}}</h5>
            <small>{{item.time}}</small>
            </div>
            <!--
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
             -->
        </a>
       </div>

    </div>


  </div>
</div>

</form>
