<form name="search-form">

  <ul class="nav nav-tabs no-border-bottom"  role="tablist">
    <li class="nav-item">
    <label class="nav-link active show mb-0 no-border-radius" data-toggle="tab" role="tab" href="#goi" aria-controls="goi" aria-selected="true">GOI({{returnGOI.length}})</label>
    </li>
    <li class="nav-item">
    <label class="nav-link mb-0 no-border-radius" data-toggle="tab" role="tab" href="#kanji" aria-controls="kanji" aria-selected="false">KANJI({{returnKANJI.length}})</label>
    </li>
    <li class="nav-item">
    <label class="nav-link mb-0 no-border-radius" data-toggle="tab" role="tab" href="#vd" aria-controls="vd" aria-selected="false">VD({{returnVD.length}})</label>
    </li>
    <li class="nav-item">
    <label class="nav-link mb-0 no-border-radius" data-toggle="tab" role="tab" href="#bunpo" aria-controls="bunpo" aria-selected="false">BUNPO({{returnBUNPO.length}})</label>
    </li>
    <li class="nav-item">
    <label class="nav-link mb-0 no-border-radius" data-toggle="tab" role="tab" href="#history" aria-controls="history" aria-selected="false">RIREKI</label>
    </li>
  </ul>

  <div class="input-group mb-3">
    <my-textbox name="search-tbx" class=" no-border-radius" ctrlproptype="japan" ng-model="searchStr" ng-keydown='enterSearch($event)' placeholder="さあ、今日も頑張ろう！"></my-textbox>
    <span class="input-group-append">
      <button class="btn btn-primary no-border-radius" ng-click="search()" type="button"><i class="fa fa-search"></i></button>
    </span>
  </div>

<div class="mb10">

  <div class="tab-content">
    <div class="tab-pane active show" id="goi" role="tabpanel">
      <div ng-repeat="item in returnGOI" class="m-2">
          <p class="text-wrap">
            <h4 class="text-danger">{{item.word}}</h4>
            <h5>{{item.han}}</h5>
            <h5>{{item.mean}}</h5>
            <span>{{item.kana2}}</span>
          </p>
          <hr>
      </div>
    </div>

    <div class="tab-pane" id="kanji" role="tabpanel">
      <div ng-repeat="item in returnKANJI" class="m-2">
          <p class="text-wrap">
            <h2 class="text-danger">{{item.word}}</h2>
            <h5>[{{item.han}}]</h5>
            <span>{{item.mean}}</span>
          </p>
          <hr>
      </div>
    </div>

    <div class="tab-pane" id="vd" role="tabpanel">
      <div ng-repeat="item in returnVD" class="m-2">
          <h4 class="text-danger multi-lines">{{item.word}}</h4>
          <p class="multi-lines">{{item.mean}}</p>
          <p class="float-right tag tag-bunpo" ng-if="item.unit">Unit: {{item.unit}}</p>
          <div class="clearfix"> </div>
          <hr>
      </div>
    </div>

    <div class="tab-pane" id="bunpo" role="tabpanel">
      <div ng-repeat="item in returnBUNPO" class="m-2">
          <p class="text-wrap">
            <h4 class="text-danger multi-lines">{{item.word}}</h4>
            <table class="w-100">
              <tbody>
              <tr>
                <td class="text-muted w40">Mean:</td>
                <td class="font-sm multi-lines"><strong>{{item.mean}}</strong></td>
              </tr>
              <tr>
                <td class="text-muted w40">TAG:</td>
                <td class="font-sm">
                    <span class="tag tag-jlpt-{{item.jlpt}} mr-1" ng-if="item.jlpt">{{item.jlpt}}</span>
                    <span class="tag tag-bunpo  mr-1" ng-if="item.tag">{{item.tag}}</span>
                </td>
              </tr>
            </tbody></table>
          </p>
<!--
          <div class="GrammarDetail multi-lines" ng-if="item.exampleHTML" dynamic-html="item.exampleHTML"></div>
 -->
            <div class="GrammarDetail " ng-if="item.exampleHTML" >
                <div class="grd-div">{{item.exampleHTML.explain}}</div>
                <ul class="grd-ul">
                    <li ng-repeat='itemExa in item.exampleHTML.example'>
                        <span class="grammar-ex"><u class="furigana_text multi-lines">{{itemExa.jp}}</u></span>
                        <p class=" multi-lines">{{itemExa.vn}}</p>
                    </li>
                </ul>
            </div>

            <div class="GrammarDetail" ng-if="item.exampleJSON">
              <ul class="grd-ul ">
                  <li ng-repeat="itemExa in item.exampleJSON">
                      <span class="grammar-ex"><u class="furigana_text multi-lines">{{itemExa.jp}}</u></span>
                      <p class="multi-lines">{{itemExa.vn}}</p>
                  </li>
              </ul>
            </div>

          <!-- <a class="float-right" target="_blank"  href="{{item.link}}">detail</a> -->

          <hr>
      </div>

    </div>

    <div class="tab-pane" id="history" role="tabpanel">
       <button class="btn btn-outline-danger float-right mr-3" ng-click="clearHistory()" type="button"><i class="fa fa-trash"></i> Clear History</button>
       <div class="clearfix"> </div>
       <div class="list-group mt-3">
        <div ng-repeat="item in listHistory track by $index" ng-click="search(item.word)" class="list-group-item list-group-item-action flex-column align-items-start" href="">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.word}}</h5>
            <small>{{item.time}}</small>
            </div>
            <!--
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
             -->
        </div>
       </div>

    </div>


  </div>
</div>

</form>
