<form name="n2goi-form" class="animated fadeIn">
<div class="row justify-content-center">
<div class="col-md-12">

  <div>
    <label>Setting</label>
  </div>

  <div class="input-group  mb-2 ">

    <div class="input-group-prepend">
      <span class="input-group-text w70">Data</span>
    </div>
    <my-dropdown name="unit" ng-model="resetKey" default-item-idx="0" items="listKey"></my-dropdown>

    <!-- Button trigger modal -->
    <span class="input-group-append">
        <button type="button" class="btn btn-danger" ng-click="showPopup()">
          <i class="fa fa-trash"></i> DELETE
        </button>
    </span>

  </div><!-- input-group  mb-2  -->
</div><!-- col-md-12 -->
</div> <!-- row justify-content-center -->

</form>

