<!DOCTYPE html>
<html>
<head lang="jp">
    <base href="./">
    <meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name='viewport'  content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />


    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="ChienTD">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>JDict</title>

    <link rel="shortcut icon" href="img/favicon.ico">


<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/core-ui2.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
<link rel="stylesheet" type="text/css" href="css/load-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/0.9.1/hamburgers.min.css" rel="stylesheet">

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/main.css">





</head>
<body ng-controller="mainController" class="app header-fixed">

    <!-- ロード時のマスク -->
    <div ng-if="loading" class="loading loading_mask">
        <div style="color: #56aed3" class="la-ball-spin-rotate la-3x" >
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>


<header class="app-header1">


<nav class="navbar navbar-expand-lg navbar-light ">


    <span><a class="navbar-brand text-white" ui-sref="home"><i class="fa fa-graduation-cap" aria-hidden="true"></i>JDict</a></span>

    <span class="navbar-text text-white ">
          <i class="fa fa-clock-o fa-lg "></i>
          {{clientCurrent| date: 'HH:mm'}}<a class="text-white " ng-class="{hidden2:clientCurrentPoint}">.</a>
    </span>
    <button class="navbar-toggler hamburger hamburger--elastic float-right " onclick="$(this).toggleClass('is-active');" style="outline: none;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li ng-repeat="menu in menulist" class="nav-item dropdown" >
          <a ng-if="!menu.sub" ui-sref="{{createLink(menu)}}" ui-sref-active="active" class="nav-link text-white" onclick="$('.hamburger').toggleClass('is-active');" data-toggle="collapse" data-target="#navbarSupportedContent">{{menu.name}}</a>

          <a ng-if="menu.sub" class="nav-link dropdown-toggle text-white" ui-sref="{{createLink(menu)}}" ui-sref-active="active" id="{{menu.name}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menu.name}}</a>
            <div ng-if="menu.sub" class="dropdown-menu no-boder o8" aria-labelledby="{{menu.name}}">
              <a ng-repeat="sub in menu.sub" class="dropdown-item text-white" ui-sref="{{createLink(sub)}}" onclick="$('.hamburger').toggleClass('is-active');" ui-sref-active="active" data-toggle="collapse" data-target="#navbarSupportedContent">{{sub.name}}</a>
            </div>
      </li>
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->

    </ul>
  </div>
</nav>

</header>



<div id="content" class="app-body">


<main class="main">
    <div class="mt-2 container">
        <div id="myAlert" style="display:none;"></div>

         <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
        <div ui-view ></div>
    </div>
</main>
</div>

<!--
<footer  class="app-footer">
   <div >
     <a href="https://coreui.io">JDict</a>
     <span>&copy; 2019 TDChien88.</span>
   </div>
   <div class="ml-auto">
     <a target="_blank" href="https://coreui.io/demo/#main.html"><span>CoreUI</span></a>
     <a target="_blank" href="https://coreui.io/docs"><span>Docs</span></a>
   </div>
</footer>
 -->



<script src="js/lib/jquery-1.9.1.js"></script>
<!--

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js"></script>
-->

<script src="js/lib/popper.min.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/coreui.min.js"></script>
<!--  <script src="js/lib/perfect-scrollbar.min.js"></script> -->
<script src="js/lib/localforage.min.js"></script>
<script src="js/lib/copy-clipboard.js"></script>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
<script src="https://unpkg.com/@uirouter/angularjs@1.0.7/release/angular-ui-router.min.js"></script>

<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-markdown-toolbar@0.0.2/dist/markdownToolbar.min.js"></script>

<script src="https://unpkg.com/wanakana@4.0.2/umd/wanakana.min.js"></script>

<script src="js/lib/angular-touch.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-3.0.6.min.js"></script>
<script src="js/lib/ngStorage.js"></script>
<script src="js/lib/ng-fittext.js"></script>

<!-- draw kanji https://github.com/KanjiVG/kanjivg -->
<script src="js/lib/raphael-min.js"></script>
<script src="js/lib/jquery.dmak.js"></script>
<script src="js/lib/dmak.js"></script>
<script src="js/lib/dmakLoader.js"></script>
<!-- draw kanji -->


<script src="js/common/utils.js"></script>
<script src="js/data/config-indexeddb.js"></script>
<script src="js/data/load-data-js.js"></script>


<script src="js/app.js"></script>

<script src="js/common/directive-utils.js"></script>
<script src="js/common/constant.js"></script>


<script src="js/service/services.js"></script>
<script src="js/service/factory.js"></script>
<script src="js/service/provider.js"></script>

<script src="js/directive.js"></script>
<script src="js/config/config.js"></script>

<script src="js/ctrl/main-ctrl.js"></script>
<script src="js/ctrl/home-ctrl.js"></script>
<script src="js/ctrl/sample-ctrl.js"></script>
<script src="js/ctrl/setting-ctrl.js"></script>
<script src="js/ctrl/qeditor-ctrl.js"></script>
<script src="js/ctrl/n2/n2goi-ctrl.js"></script>
<script src="js/ctrl/n2/shadowing-ctrl.js"></script>
<script src="js/ctrl/n2/n2try-ctrl.js"></script>
<script src="js/ctrl/mimikara/mimikara-ctrl.js"></script>
<script src="js/ctrl/articles/article-ctrl.js"></script>

<!-- router start -->
<script src="js/config/router/config-router-begin.js"></script>
<script src="js/config/router/config-router-n2.js"></script>
<script src="js/config/router/config-router-chokai.js"></script>
<script src="js/config/router/config-router-articles.js"></script>
<script src="js/config/router/config-router-end.js"></script>
<!-- router end -->

</body>
</html>
