<!DOCTYPE html>
<html ng-app="myApp">
<head lang="jp">
    <base href="./">
    <meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name='viewport'  content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />


    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="ChienTD">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>さすが Web </title>

    <link rel="shortcut icon" href="img/favicon.ico">


<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/core-ui2.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/awesome-angular-swipe.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script src="js/lib/jquery-1.9.1.js"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js"></script>
 -->

<script src="js/lib/popper.min.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/pace.min.js"></script>
<script src="js/lib/perfect-scrollbar.min.js"></script>
<script src="js/lib/coreui.min.js"></script>

<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-ui-router.js"></script>
<script src="js/lib/angular-animate.js"></script>
<script src="js/lib/angular-touch.min.js"></script>
<script src="js/lib/awesome-angular-swipe.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="js/lib/ngStorage.js"></script>
<script src="js/lib/wanakana.min.js"></script>

<script src="js/app.js"></script>
<script src="js/common/directive-utils.js"></script>
<script src="js/common/utils.js"></script>
<script src="js/common/constant.js"></script>
<script src="js/data/bunpo.js"></script>
<script src="js/data/bunpovd.js"></script>
<script src="js/data/shadowing2.js"></script>
<script src="js/data/n3goi.js"></script>
<script src="js/data/n3kanji.js"></script>
<script src="js/data/n2goi.js"></script>
<script src="js/data/n2kanji.js"></script>
<script src="js/data/n2try.js"></script>
<script src="js/data/iword.js"></script>
<script src="js/data/hanviet.js"></script>

<script src="js/service/services.js"></script>
<script src="js/service/factory.js"></script>
<script src="js/service/provider.js"></script>
<script src="js/directive.js"></script>

<script src="js/config/config.js"></script>

<script src="js/ctrl/main-ctrl.js"></script>
<script src="js/ctrl/home-ctrl.js"></script>
<script src="js/ctrl/sample-ctrl.js"></script>
<script src="js/ctrl/n2/n2goi-ctrl.js"></script>
<script src="js/ctrl/n2/shadowing-ctrl.js"></script>
<script src="js/ctrl/n2/n2try-ctrl.js"></script>
<script src="js/ctrl/mimikara/mimikara-ctrl.js"></script>

<!-- router start -->
<script src="js/config/router/config-router-begin.js"></script>
<script src="js/config/router/config-router-n2.js"></script>
<script src="js/config/router/config-router-mimikara.js"></script>
<script src="js/config/router/config-router-end.js"></script>
<!-- router end -->

</head>
<body  ng-cloak ng-controller="mainController" >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" ui-sref="home">JDict</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li ng-repeat="menu in menulist" class="nav-item dropdown" >
          <a ng-if="!menu.sub" ui-sref="{{createLink(menu)}}" ui-sref-active="active" class="nav-link" >{{menu.name}}</a>

          <a ng-if="menu.sub" class="nav-link dropdown-toggle" ui-sref="{{createLink(menu)}}" ui-sref-active="active" id="{{menu.name}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menu.name}}</a>
            <div ng-if="menu.sub" class="dropdown-menu" aria-labelledby="{{menu.name}}">
              <a ng-repeat="sub in menu.sub" class="dropdown-item" ui-sref="{{createLink(sub)}}"  ui-sref-active="active">{{sub.name}}</a>
            </div>
      </li>
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->

    </ul>
  </div>
</nav>

    <div  class="mt-2 container">
         <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
        <div ui-view style="height: 100%;"></div>
    </div>

<div ng-if="showLoading">
    <img src="lib/jQuery/images/ajax-loader.gif" class="ajax-loader"/>
</div>
</body>
</html>
