body{
	background:url("../img/bg.png") no-repeat;
}
span::after {
  content: "\A";
  white-space: pre;
}

.form-control:focus {
    box-shadow: 0 0 0 0.05rem rgba(32, 168, 216, 0.25); }
.form-control:disabled, .form-control[readonly] {
	background-color: #eeeeee;
}