<form name="n2goi-form" class="animated fadeIn">

  <div class="row justify-content-center">
    <div class="col-md-12">

      <div class="input-group  mb-1 ">
        <div class="input-group-prepend">
          <my-dropdown name="tag" ng-model="data.tagName" default-item-idx="0" items="constList.hanTuTagName" ng-change="changeTagName()"></my-dropdown>

        </div>
        <my-dropdown name="unit" ng-model="data.unit" default-item-idx="0" items="data.listUnit" ng-change="changeUnit()"></my-dropdown>
        <span class="input-group-append">
          <button class="btn btn-danger" type="button" ng-click="reset()">Reset</button>
        </span>
      </div>
      <!-- input-group  mb-2 -->

      <div class="input-group mb-1">
        <div class="font-weight-bold " ng-class="{'hidden': data.learnType == constMap.learnType.newwords.code}">【Idx: {{data.curIdx + 1}}】</div>

        <input class="form-check-input hidden" id="inline-hardwords" ng-model="data.learnType" type="radio" ng-value="constMap.learnType.hardwords.code" name="inline-radios" ng-change="changeLearnType()">
        <label class="form-check-label text-warning ml-auto" ng-class="{'font-weight-bold border-bottom border-warning': data.learnType == constMap.learnType.hardwords.code}" for="inline-hardwords">★ ({{data.curUnit.listHardWords.length}})
        </label>

        <input class="form-check-input hidden" id="inline-rememberd" ng-model="data.learnType" type="radio" ng-value="constMap.learnType.rememberd.code" name="inline-radios" ng-change="changeLearnType()">
        <label class="form-check-label text-success ml-2" ng-class="{'font-weight-bold border-bottom border-success': data.learnType == constMap.learnType.rememberd.code}" for="inline-rememberd">OK ({{data.curUnit.listRemember.length}})
        </label>

        <input class="form-check-input hidden" id="inline-wrong" ng-model="data.learnType" type="radio" ng-value="constMap.learnType.wrong.code" name="inline-radios" ng-change="changeLearnType()">
        <label class="form-check-label text-danger ml-2" ng-class="{'font-weight-bold border-bottom border-danger': data.learnType == constMap.learnType.wrong.code}" for="inline-wrong">NG ({{data.curUnit.listNotRemember.length}})
        </label>

        <input class="form-check-input hidden" id="inline-newwords" ng-model="data.learnType" type="radio" ng-value="constMap.learnType.newwords.code" name="inline-radios" ng-change="changeLearnType()">
        <label class="form-check-label text-primary ml-2" ng-class="{'font-weight-bold border-bottom border-primary': data.learnType == constMap.learnType.newwords.code}" for="inline-newwords">New ({{data.curUnit.listNewWords.length}})
        </label>

        <input class="form-check-input hidden" id="inline-all" ng-model="data.learnType" type="radio" ng-value="constMap.learnType.all.code" name="inline-radios" ng-change="changeLearnType()">
        <label class="form-check-label ml-2" ng-class="{'font-weight-bold border-bottom border-dark': data.learnType == constMap.learnType.all.code}" for="inline-all">All ({{data.curUnit.listCurrentWords.length}})
        </label>

        <!--
      <div class="text-muted small ml-2">({{(data.curUnit.listRemember.length + data.curUnit.listNotRemember.length) * 100 / data.curUnit.listCurrentWords.length | number : 0}}%)</div>
 -->
      </div>

      <div id="scroll2here" class="row mb-1">

        <!-- accordion -->
        <div class="col-6">
          <div class="btn-group btn-group-sm " role="group">
            <label class="btn btn-outline-primary" ng-model="data.learnModel" uib-btn-radio="constMap.learnModel.All.code" uib-uncheckable="uncheckable">All</label>
            <label class="btn btn-outline-primary" ng-model="data.learnModel" uib-btn-radio="constMap.learnModel.Card.code" uib-uncheckable="uncheckable">Card</label>
            <label class="btn btn-outline-primary" ng-model="data.learnModel" uib-btn-radio="constMap.learnModel.Choice.code" uib-uncheckable="uncheckable">Choice</label>
            <label class="btn btn-outline-primary" ng-model="data.learnModel" uib-btn-radio="constMap.learnModel.Type.code" uib-uncheckable="uncheckable">Type</label>
          </div>
        </div>
        <!-- accordion -->
        <div class="col-6">
          <div class="progress-group mb-2">
            <div class="input-group ">
              <div class="progress-group-bars">
                <div class="progress bg-primary">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{(data.curUnit.listRemember.length)* 100/data.curUnit.listCurrentWords.length}}%" aria-valuenow="{{data.curUnit.listRemember.length}}" aria-valuemin="0" aria-valuemax="{{data.curUnit.listCurrentWords.length}}"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: {{(data.curUnit.listNotRemember.length)* 100/data.curUnit.listCurrentWords.length}}%" aria-valuenow="{{data.curUnit.listNotRemember.length}}" aria-valuemin="0" aria-valuemax="{{data.curUnit.listCurrentWords.length}}"></div>
                </div>

              </div>
              <button class="btn btn-link ml-2" type="button" ng-click="reZero()">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Re:Zero
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion" id="accordion">

        <div ng-class="{'show': data.learnModel == constMap.learnModel.Type.code}" class="collapse">
          <div class="card">
            <div class="card-body" style="min-height: 130px">
              <p class="text-center text-wrap">
                <h5 class="text-uppercase text-danger" ng-show="data.wrongCount > data.wrongCount_HAN">{{data.curWord.han}}</h5>
                <h2 class=" " ng-show="data.wrongCount > data.wrongCount_GOI">{{data.curWord.mean}}</h2>
                <h1 class="text-danger ">{{data.curWord.word}}</h1>
              </p>
            </div>
            <div class="card-footer">
              <my-textbox auto-focus id="ans" name="ans" ctrlproptype="all" ng-model="data.ans" placeholder="{{data.curWord.word}}" ng-disabled="!data.curWord.word" class="form-control text-danger form-control-lg" ng-class="{'is-invalid': !data.isCorrect}" ng-keydown="ansKeydown($event)" autofocus></my-textbox>
              <small class="float-right">Ans {{data.wrongCount}}</small>
            </div>
          </div>
        </div>

        <div ng-class="{'show': data.learnModel == constMap.learnModel.Card.code}" class="collapse">

          <div class="card ">
            <div class="card-header">
              <div class="form-check  form-check-inline">
                <input class="form-check-input hidden" id="card-mean" ng-model="data.cardType" type="radio" ng-value="constMap.cardType.mean.code" name="card-type">
                <label ng-if="false" class="form-check-label " ng-class="{'font-weight-bold border-bottom border-danger': data.cardType == constMap.cardType.mean.code}" for="card-mean">Mean</label>
                <input class="form-check-input hidden" id="card-word" ng-model="data.cardType" type="radio" ng-value="constMap.cardType.word.code" name="card-type">
                <label class="form-check-label ml-2" ng-class="{'font-weight-bold border-bottom border-danger': data.cardType == constMap.cardType.word.code}" for="card-word">Word</label>
              </div>

            </div>
            <div class="card-body p-2">
              <div class="fcard ">
                <label class="fcard-inner">
                  <input ng-model="fcardChecked" type="checkbox" class="fcard-input" ng-change="fcardCheckedChange()"/>
                  <div class="fcard-card">
                    <div class="fcard-front" ng-if="!fcardChecked">
                      <div class="card h-100 justify-content-center p-2">
                        <h1 ng-if="data.cardType == constMap.cardType.mean.code">{{data.curWord.mean}}</h1>
                        <h1 ng-if="data.cardType == constMap.cardType.word.code">{{data.curWord.word}}</h1>
                      </div>
                    </div>

                    <div class="fcard-back" ng-show="fcardChecked">
                      <div class="card h-100 justify-content-center p-2">

                        <table>
                          <tr>
                            <td class=" w200"  rowspan='2'>
                              <div class="w200 " style="heigth:150px">
                                <div id="draw" ><div id='drawKanji'></div></div>
                              </div>
                            </td>
                            <td class="align-left pl-1 text-danger" style="vertical-align:middle"><h2 >[{{data.curWord.han}}]</h2></td>
                            
                          </tr>
                          <tr>
                            <td class="align-left" >
                                <p>音(ON) ：{{data.curWord.on}}</p>
                                <p>訓(kun)：{{data.curWord.kun}}</p>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-2" colspan='2'>
                              <blockquote class="blockquote">
                                <p class="align-left mb-0">{{data.curWord.mean}}</p>
                                <footer class="align-right blockquote-footer">{{data.curWord.note}}</footer>
                              </blockquote>
                            </td>
                          </tr>
                        </table>

                      </div>
                    </div>
                  </div>
                </label>
              </div>
            </div>

            <div class="card-footer">

              <div class="row justify-content-center">
                <div class="btn-group btn-group-lg" role="group" aria-label="First group">
                  <button type="button" class="btn btn-success w150" ng-disabled="!fcardChecked || !data.curWord.mean" ng-click="itemCardClick('ok')">OK</button>
                  <button type="button" class="btn btn-danger w150" ng-disabled="!fcardChecked || !data.curWord.mean" ng-click="itemCardClick('ng')">NG</button>
                </div>
                <!--
          <button type="button" class="btn btn-link" ng-click="itemCardClick('previous')"><i class="fas fa-chevron-left"></i></button>
          <button type="button" class="btn btn-link" ng-click="itemCardClick('next')"><i class="fas fa-chevron-right"></i></button>
           -->
              </div>
            </div>
          </div>
        </div>

        <div ng-class="{'show': data.learnModel == constMap.learnModel.All.code}" class="collapse">
          <!--
  <div ng-repeat="item in data.curList">
    <div  class="swipe" swipe-right="delayedClose" swipe-left="delayedClose" left-template="partial/leftTemplate.html" right-template="partial/rightTemplate.html">
      <div class="panel-body">
        Again with some template customization!
      </div>
    </div>
  -->
          <table class="table table-sm  table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th class="col wp5">#</th>
                <th class="col wp30">Word</th>
                <th class="col wp15">Mean</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in data.curList track by $index">
                <th class="wp5">{{$index+1}}</th>
                <td class="wp20">
                  <h2>{{item.word}}</h2></td>
                <td class="wp75">
                  <div class=" d-flex  flex-column">
                    <div class="p-1 border-bottom">
                      <b>{{item.han}}</b>
                    </div>
                    <div class="p-1 ">{{item.mean}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div ng-class="{'show': data.learnModel == constMap.learnModel.Choice.code}" class="collapse">
          <div class="card">
            <div class="card-header">
              <div class="form-check  form-check-inline">
                <input class="form-check-input hidden" id="choice-mean" ng-model="data.choiceType" type="radio" ng-value="constMap.choiceType.mean.code" name="choice-type">
                <label class="form-check-label" ng-class="{'font-weight-bold border-bottom border-danger': data.choiceType == constMap.choiceType.mean.code}" for="choice-mean">Mean</label>

                <input class="form-check-input hidden" id="choice-word" ng-model="data.choiceType" type="radio" ng-value="constMap.choiceType.word.code" name="choice-type">
                <label class="form-check-label ml-4" ng-class="{'font-weight-bold border-bottom border-danger': data.choiceType == constMap.choiceType.word.code}" for="choice-word">Word</label>

              </div>
              <div class="float-right">
                <label class=" mb-0">Show Popup:</label>
                <label class="switch switch-pill switch-success mb-0">
                  <input ng-model="data.showPopupResult" type="checkbox" class="switch-input" checked> <span class="switch-slider"></span>
                </label>
              </div>
            </div>

            <div class="card-body">
                <h3 class="text-" ng-show="data.choiceType == constMap.choiceType.mean.code">{{data.curWord.word}}</h3>
                <h3 class="text-" ng-show="data.choiceType == constMap.choiceType.word.code">{{data.curWord.han}}</h3>
            </div>

            <div class="card-footer">
              <dl class="row ml-1 mr-1 mb-0" ng-repeat="item in data.listRandomAns track by $index">
                <dd class="col-sm-12p-2 w-100 bg-white" ng-show="data.choiceType == constMap.choiceType.mean.code" ng-click="choiceCardClick($index)">
                  <label class="btn btn-outline-primary m-0 w-100 align-left"><h5 class="mb-0">{{item.han}}</h5></label>
                </dd>
                <dd class="col-sm-12p-2 w-100 bg-white" ng-show="data.choiceType == constMap.choiceType.word.code" ng-click="choiceCardClick($index)">
                  <label class="btn btn-outline-primary m-0 w-100 align-left"><h5 class="mb-0">{{item.word}}</h5></label>
                </dd>
              </dl>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- col-md-12 -->
  </div>
  <!-- row justify-content-center -->
</form>
